.box{
	margin: 15px 0;
	min-height: 100px;
	background-color: orange;
}
.box2{
	margin: 15px 0;
	min-height: 100px;
	background-color: blueviolet;
}
.custom_height{
	height: 500px ;
	background-color: lightgrey;
}